@import '../config';

.about{
   margin-bottom: 4em;

   h1{
      font-size: 2rem;
      width:40%;
      text-align: center;
      filter: blur(.8px);
      margin: 0 auto 2em auto;
      border-bottom: 2px solid $light-font-clr;
   }

   section{
      @include flex-sa-c;
      margin-bottom: 5em;

      article{
         width: 40%;
         position: relative;

         ul{
            list-style: none;

            li{
               padding:1em;
               text-align: center;

               &:nth-child(odd){
                  background: $darkSoft-back-clr;
               }

               span{
                  color: $mark-font-clr;
               }            
            }
         }

         h2{
            font-size: 1.7rem;
            margin-bottom: 1em;
            border-bottom: 2px solid $light-font-clr;
            text-align: center;
         }

         p{
            &:not(.bottom){
               margin-bottom: 1em;
               font-family: 'Raleway', sans-serif;
               font-weight: 100;
               font-size: clamp(.8rem,1vw,1rem);
            }
            
            &.bottom{
               position: absolute;
               right:0;
               bottom:0;
               color: $mark-font-clr;
               
            }
         }

         &.iframeCont{
            height:30vw;
         }

         iframe,
         img{
            height:100%;
            width:100%;
         }
      }
   }
}

@media (max-width: 1024px){
   .about{
      section{
         flex-direction: column;

         article{
            width:90%;

            p{
               text-align: justify;

               &.bottom{
                  position: static;
               }
            }

            &.saloonImg{
               display: none;
            }

            &.iframeCont{
               height:60vw;
               margin-top:1em;
            }
         }
      }
   }
}

@media (max-width: 768px){
   .about{
      h1{
         width:80%;
      }
   }
}
