@import '../config';

.about{
   margin-bottom: 4em;

   h1{
      font-size: 2rem;
      width:40%;
      text-align: center;
      filter: blur(.8px);
      margin: 0 auto 2em auto;
      border-bottom: 2px solid $light-font-clr;
   }

   section{
      @include flex-sa-c;
      margin-bottom: 5em;

      article{
         width: 40%;
         height: 30vw;
         position: relative;

         ul{
            list-style: none;

            li{
               padding:1em;
               text-align: center;

               &:nth-child(odd){
                  background: $darkSoft-back-clr;
               }

               span{
                  color: $mark-font-clr;
               }            
            }
         }

         h2{
            font-size: 1.7rem;
            margin-bottom: 1em;
            border-bottom: 2px solid $light-font-clr;
         }

         p{
            &:not(.bottom){
               margin-bottom: 2em;
               font-family: 'Raleway', sans-serif;
               font-weight: 100;
            }
            
            &.bottom{
               position: absolute;
               right:0;
               bottom:0;
               color: $mark-font-clr;
            }
         }

         iframe,
         img{
            height:100%;
            width:100%;
         }
      }
   }
}