@import './config';

$colors: (
   1: "#3c6998",
   2: "#cc9035", 
   3: "#666", 
   4: "#34385c"
);

footer{
   border-top: 2px solid $lightGrey-font-clr;
   padding:2em 0;

   a{
      text-decoration: none;
      color: $lightGrey-font-clr;
      transition: .4s;

      &:hover{
         color:$hover-blue;
      }
   }

   .lists{
      @include flex-sa-c;

      ul{
         list-style: none;

         li{
            &:first-child{
               font-size: clamp(1rem,5vw,2rem);
            }

            &:not(:first-child){
               font-size: .9rem;
               margin:1em 0;            
            }
         }
      }
   }

   img{
      display: block;
      width: 100px;
      margin: 0 auto 2em auto;
   }

   .icons{
      margin:1em 0 4em 0;

      h2{
         text-align: center;
         font-size: .8rem;
      }

      div{
         @include flex-c-c;
         margin:1em 0;

         svg{    
            width:clamp(30px, 4vw, 100px);
            height:50px;
            margin:0 2em;
            cursor: pointer;
            transition: .5s;
            
            @each $num,$i in $colors{
               &:nth-child(#{$num}){
                  color: #{$i};
               }
            }
   
            &:hover{
               opacity: .5;
            }
         }
      }   
   }
}

@media (max-width: 480px){
   footer{
      .icons div{
         svg{
            margin: 0 1em;
         }
      }
   } 
} 