@import 'config';

*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-weight: 300;
   scroll-behavior: smooth;
}

body{
   font-family: 'Sora', sans-serif;
   min-height: 100vh;
   background: $dark-back-clr;
   color: $light-font-clr;
   overflow-x: hidden;
}

/* @media (max-width: 1200px){
   body{
      background: green;
   }
}

@media (max-width: 1024px){
   body{
      background: yellow;
   }
}

@media (max-width: 768px){
   body{
      background: pink;
   }
}

@media (max-width: 480px){
   body{
      background: red;
   }
} 
*/