.lineseparator {
  display: block;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
}

.scrollup {
  position: fixed;
  right: 1em;
  bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .5em;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  z-index: 999;
}

.scrollup div {
  background: #b8b9bb;
  color: #141414;
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: .5em;
  font-size: .8rem;
  border-radius: .5em;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.scrollup:hover {
  background-color: #b8b9bb;
}

.scrollup:hover svg {
  color: black;
}

.scrollup:hover div {
  opacity: 1;
  pointer-events: all;
}

.scrollup svg {
  font-size: 2rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.errCont {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.errCont img {
  height: 10vw;
  margin-bottom: 1em;
  min-width: 80px;
  min-height: 80px;
}

.errCont .errtext {
  margin: 3em 0;
  text-align: center;
}

.errCont .errtext h1 {
  color: #df391b;
  font-size: clamp(1.5rem, 3vw, 3rem);
  border-bottom: 2px solid #df391b;
  margin-bottom: .5em;
}

.errCont .errtext p {
  color: #df391b;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.errCont .errtext p a {
  color: goldenrod;
  text-decoration: none;
}

.errCont .errtext p a:hover {
  color: #694b00;
}

.errCont .innercont {
  background: #303030;
  padding: 1em 2em;
  border-radius: .2em;
}

.errCont .innercont div {
  margin: 2em 0;
}

.errCont .innercont div h2 {
  color: #b8b9bb;
  border-bottom: 1px solid #b8b9bb;
  margin-bottom: .1em;
}

.errCont .innercont div span {
  font-size: .9rem;
}
