.lineseparator {
  display: block;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
}

.scrollup {
  position: fixed;
  right: 1em;
  bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .5em;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  z-index: 999;
}

.scrollup div {
  background: #b8b9bb;
  color: #141414;
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: .5em;
  font-size: .8rem;
  border-radius: .5em;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.scrollup:hover {
  background-color: #b8b9bb;
}

.scrollup:hover svg {
  color: black;
}

.scrollup:hover div {
  opacity: 1;
  pointer-events: all;
}

.scrollup svg {
  font-size: 2rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.fillmetric {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4em;
}

.fillmetric section {
  width: 40%;
}

.fillmetric section h1 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  border-bottom: 2px solid #faf6f6;
  margin-bottom: 1em;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
}

.fillmetric section p {
  font-size: .9rem;
  margin-bottom: 3em;
  line-height: 2em;
}

.fillmetric section p:last-child {
  margin: 0;
}

.fillmetric section p span.mark {
  color: #df391b;
  font-weight: 700;
}

.fillmetric section.barscont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fillmetric section.barscont .bar {
  width: 6%;
  height: 350px;
  border: 2px solid #303030;
  position: relative;
}

.fillmetric section.barscont .bar .fill {
  background: #2e2786;
  position: absolute;
  bottom: 0;
  height: 0;
  -webkit-transition: 3s;
  transition: 3s;
}

.fillmetric section.barscont .bar .fill::before {
  content: attr(per);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .9rem;
  position: absolute;
  width: 35px;
  height: 25px;
  border: 1px solid #faf6f6;
  border-radius: .3em;
  right: 100%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #141414;
  z-index: 99;
}

.fillmetric section.barscont .bar .fill::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #faf6f6;
  right: 100%;
  top: 0;
  -webkit-transform: translate(-100%, -50%) rotate(225deg);
          transform: translate(-100%, -50%) rotate(225deg);
}

.fillmetric section.barscont .bar .fill2 {
  background: #2e2786;
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  -webkit-transition: 3s;
  transition: 3s;
}

.fillmetric section.barscont .bar .fill2::before {
  content: attr(per);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .9rem;
  position: absolute;
  width: 35px;
  height: 25px;
  border: 1px solid #faf6f6;
  border-radius: .3em;
  left: 100%;
  top: 0;
  -webkit-transform: translate(-50%, -130%);
          transform: translate(-50%, -130%);
  background: #141414;
  z-index: 99;
}

.fillmetric section.barscont .bar .fill2::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #faf6f6;
  left: 100%;
  top: 0;
  -webkit-transform: translate(-50%, -130%) rotate(225deg);
          transform: translate(-50%, -130%) rotate(225deg);
}

.fillmetric section.barscont .bar span {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 150%);
          transform: translate(-50%, 150%);
  bottom: 0;
}

@media (max-width: 768px) {
  .fillmetric {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fillmetric section {
    width: 90%;
    margin-bottom: 2em;
  }
  .fillmetric section h1 {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .fillmetric section h1 {
    text-align: center;
  }
  .fillmetric section p {
    text-align: justify;
  }
  .fillmetric section.barscont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fillmetric section.barscont .bar {
    width: 80%;
    height: 40px;
    margin: 2em 0;
  }
  .fillmetric section.barscont .bar .fill {
    height: 20px;
    width: 100%;
  }
}
