.lineseparator {
  display: block;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
}

.scrollup {
  position: fixed;
  right: 1em;
  bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .5em;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  z-index: 999;
}

.scrollup div {
  background: #b8b9bb;
  color: #141414;
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: .5em;
  font-size: .8rem;
  border-radius: .5em;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.scrollup:hover {
  background-color: #b8b9bb;
}

.scrollup:hover svg {
  color: black;
}

.scrollup:hover div {
  opacity: 1;
  pointer-events: all;
}

.scrollup svg {
  font-size: 2rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav1 {
  background: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav1 figure {
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav1 figure img {
  height: 100%;
}

.nav1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav1 li {
  margin: 0 1em;
}

.nav1 a {
  color: #faf6f6;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 200;
}

.nav1 a:hover {
  color: orange;
}

.nav1 a.home:hover {
  color: #008cff;
}

@media (max-width: 768px) {
  .nav1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: .5em 0;
  }
  .nav1 ul {
    margin-top: 1em;
  }
  .nav1 ul a {
    font-size: clamp(0.7rem, 3vw, 1rem);
  }
  .nav1 li {
    margin: 0 .5em;
  }
}
