.lineseparator {
  display: block;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
}

.scrollup {
  position: fixed;
  right: 1em;
  bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .5em;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  z-index: 999;
}

.scrollup div {
  background: #b8b9bb;
  color: #141414;
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: .5em;
  font-size: .8rem;
  border-radius: .5em;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.scrollup:hover {
  background-color: #b8b9bb;
}

.scrollup:hover svg {
  color: black;
}

.scrollup:hover div {
  opacity: 1;
  pointer-events: all;
}

.scrollup svg {
  font-size: 2rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.notifyscreen {
  background: url("../images/car.gif");
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 2em 0;
  margin-bottom: 4em;
}

.notifyscreen h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  text-shadow: 0 0 2px fuchsia, 0 0 4px fuchsia;
  letter-spacing: 1em;
  -webkit-transition: 2s;
  transition: 2s;
  white-space: nowrap;
}

.notifyscreen h1:hover {
  letter-spacing: normal;
}

.notifyscreen p.hdrpara {
  text-align: center;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
  text-shadow: 0 0 1px fuchsia, 0 0 2px fuchsia;
  margin-bottom: 5em;
}

.notifyscreen article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.notifyscreen article h4 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  -webkit-filter: blur(0.8px);
          filter: blur(0.8px);
  text-shadow: 0 0 2px fuchsia, 0 0 4px fuchsia, 0 0 8px fuchsia, 0 0 16px fuchsia;
}

.notifyscreen article section {
  width: 40%;
  height: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notifyscreen article section h2 {
  font-size: 3rem;
  text-align: center;
}

.notifyscreen article section p {
  margin-bottom: 5em;
  text-align: center;
}

.notifyscreen article section.logreg .logregBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notifyscreen article section.logreg .logregBtn button {
  padding: .7rem 0;
  width: 20%;
  font-size: 1.1rem;
  background: rgba(0, 0, 0, 0.9);
  outline: 0;
  border-radius: .5em;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.notifyscreen article section.logreg .logregBtn button:hover {
  background: black;
}

.notifyscreen article section.logreg .logregBtn .btnreg {
  border: 2px solid #008cff;
  color: #008cff;
}

.notifyscreen article section.logreg .logregBtn .btnlog {
  border: 2px solid orange;
  color: orange;
}

.notifyscreen article section.mailinp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notifyscreen article section.mailinp .mailBtn {
  width: 30%;
  padding: 1.2em 0;
  border: 3px solid #008cff;
  border-radius: .7em;
  background: rgba(0, 0, 0, 0.5);
  background: #303030;
  color: #faf6f6;
  text-transform: uppercase;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}

.notifyscreen article section.mailinp .mailBtn span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99999;
}

.notifyscreen article section.mailinp .mailBtn::before, .notifyscreen article section.mailinp .mailBtn::after {
  -webkit-transition: .5s;
  transition: .5s;
}

.notifyscreen article section.mailinp .mailBtn::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3px;
  height: calc(100% + 6px);
  width: 80%;
  background: #303030;
}

.notifyscreen article section.mailinp .mailBtn::after {
  content: '';
  position: absolute;
  left: -3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 60%;
  width: calc(100% + 6px);
  background: #303030;
}

.notifyscreen article section.mailinp .mailBtn:hover::before {
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
}

.notifyscreen article section.mailinp .mailBtn:hover::after {
  -webkit-transform: translateY(-50%) scaleY(0);
          transform: translateY(-50%) scaleY(0);
}

.notifyscreen article section.mailinp p {
  text-align: center;
  margin: 0;
  font-size: 1.1rem;
}

.notifyscreen article section.mailinp div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.notifyscreen article section.mailinp div svg {
  font-size: 3rem;
}

.notifyscreen article section.mailinp div input {
  height: 100%;
  width: 70%;
  border: 2px solid orange;
  border-radius: .5em;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 .5em;
  font-size: 1.2rem;
  color: #faf6f6;
  outline: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.notifyscreen article section.mailinp div input:focus {
  -webkit-box-shadow: 2px 2px 2px fuchsia, 2px 2px 4px fuchsia, 2px 2px 8px fuchsia;
          box-shadow: 2px 2px 2px fuchsia, 2px 2px 4px fuchsia, 2px 2px 8px fuchsia;
  border-color: fuchsia;
}
